SuperStrategy2000/.vs
SuperStrategy2000/SuperStrategy2000/SuperStrategy2000.vcxproj.user
SuperStrategy2000/Release/SuperStrategy2000.pdb
SuperStrategy2000/Debug/SuperStrategy2000.pdb
SuperStrategy2000/SuperStrategy2000/Debug
SuperStrategy2000/SuperStrategy2000/Release
SuperStrategy2000/Release/SuperStrategy2000.exe
SuperStrategy2000/Debug/SuperStrategy2000.exe
SuperStrategy2000/Release/assets/settings.txt
SuperStrategy2000/Debug/assets/settings.txt
SuperStrategy2000/SuperStrategy2000/assets/settings.txt
